/* video-vontainer {
    width: 90%;
    max-width: 1000px;
    display: flex
    justify-content: center;
    margin-inline: auto;
    background color: gray something

    video {
        width: 100%
} */